.job__img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.job__img {
  position: relative;
}

.job__img span {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  height: max-content;
  z-index: 10;
  background: var(--primary-color);
  color: var(--text-color-secondary);
  padding: 0.5em;
  border-radius: 0 0 0 0.5em;
}

.card__top span i {
  color: var(--secondary-color);
}

.job__rating {
  font-size: 0.9rem;
  color: var(--text-color);
}

.job__location {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 0.9rem;
}

.job__rating i,
.job__location i {
  font-size: 1rem;
}

.job__title {
  /* margin-top: 1rem; */
  margin-bottom: 1em;
  font-size: 1.8rem;
  cursor: pointer;
}

.job__title a {
  text-decoration: none;
  color: var(--heading-color);
  transition: 0.3s;
}

.job__title a:hover {
  color: grey !important;
}

.card__bottom h5 {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0px;
}

.card__bottom h5 span {
  font-weight: 500;
  color: var(--text-color);
  font-size: 0.8rem;
}

.booking__btn {
  background: var(--heading-color) !important;
  color: var(--text-color-secondary) !important;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.booking__btn a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}

.booking__btn a:hover {
  color: #fff;
}

@media only screen and (max-width: 576px) {
  .job__title {
    font-size: 1rem;
  }

  .booking__btn a {
    font-size: 0.8rem;
  }

  .booking__btn {
    padding: 0.2rem 0.5rem !important;
  }

  .job__location,
  .job__rating {
    font-size: 0.8rem;
  }
}
