// Jobs.scss

// Custom Styles
.pagination {
    span {
      display: inline-block;
      padding: 0.5em 1em;
      margin: 0.2em;
      background-color: #fff;
      border: 1px solid #ccc;
      cursor: pointer;
      &.active__page {
        background-color: black !important;
        color: #fff !important;
      }
    }
  }
  
  .pt-0 {
    padding-top: 0;
  }
  
  // Import Bootstrap
  @import "~bootstrap/scss/bootstrap";
  @import "~bootstrap/scss/variables";
  